#!/bin/bash

{{ gcloud_target_path }}/install.sh --quiet {% if gcloud_additional_components | length > 0 %}--additional-components {% for component in gcloud_additional_components %}{{ component }}{% if loop.index < gcloud_additional_components | length %} {% endif %}{% endfor %}{% endif %}
