#!/bin/bash

{{ gcloud_target_path }}/install.sh --quiet {% if gcloud_components | length > 0 %}--override-components {% for component in gcloud_components %}{{ component }}{% if loop.index < gcloud_components | length %} {% endif %}{% endfor %}{% endif %}
