@define-color background #2e3440;
@define-color foreground #d8dee9;
@define-color urgent #bf616a;
@define-color nord7 #8fbcbb;
@define-color nord9 #81a1c1;

* {
  border: none;
  border-radius: 0;
  font-family: "NotoSans Nerd Font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
    background-color: @background;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces {
  margin-right: 5px;
  margin-left: 0;
}

#workspaces button {
    padding: 0 10px;
    color: @foreground;
    box-shadow: inset 0 -2px transparent;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -2px @nord7;
}

#workspaces button.focused {
  background: rgba(0, 0, 0, 0.2);
  color: @nord7;
  box-shadow: inset 0 -2px @nord7;
}

#workspaces button.urgent {
  background: @foreground;
  color: @urgent;
}

#mode {
  color: @foreground;
}

#backlight,
#battery,
#clock,
#cpu,
#idle_inhibitor,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding: 0 5px;
    margin: 0 5px;
    color: @foreground;
    border-bottom: 2px solid @nord9;
}

@keyframes blink {
    to {
        background-color: @urgent;
    }
}

#battery.critical:not(.charging) {
    background-color: @background;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
