@define-color red #d7005f;
@define-color green #718c00;
@define-color yellow #d75f00;
@define-color blue #4271a3;
@define-color magenta #8959a8;
@define-color cyan #3e999f;
@define-color white #4d4d4c;

@define-color background #e0ddd6;
@define-color foreground #4e4e4b;
@define-color active-workspace-indicator #cc620e;
@define-color urgent-workspace-indicator #b62158;
@define-color idle-inhibitor-enabled-background #b62158;
@define-color idle-inhibitor-enabled-foreground #e0ddd6;

* {
  border: none;
  border-radius: 0;
  font-family: Nota Sans Mono;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: @background;
  color: @foreground;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  background-color: @background;
}

#workspaces button {
  color: @foreground;
  padding: 0 5px;
  margin-right: 5px;
  text-shadow: inherit;
  box-shadow: inherit;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover,
#workspaces button.focused {
  box-shadow: inset 0 -3px @active-workspace-indicator;
}

#workspaces button.urgent {
  box-shadow: inset 0 -3px @urgent-workspace-indicator;
  color: @urgent-workspace-indicator;
}

#mode {
  padding: 0 15px;
}

#clock {
}

#idle_inhibitor,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray,
#battery,
#backlight {
  padding: 0 10px;
  margin-right: 5px;
  box-shadow: inset 0 -3px transparent;
}

#idle_inhibitor {
  font-size: 22px;
}

#idle_inhibitor.activated {
  background: @idle-inhibitor-enabled-background;
  color: @idle-inhibitor-enabled-foreground;
}

#pulseaudio {
  box-shadow: inset 0 -3px @blue;
}

#network {
  box-shadow: inset 0 -3px @green;
}

#cpu,
#memory,
#temperature {
  margin-right: 0;
  box-shadow: inset 0 -3px @magenta;
}

#battery {
  margin-left: 5px;
  box-shadow: inset 0 -3px @cyan;
}

#backlight {
  box-shadow: inset 0 -3px @yellow;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
