window {
	background-color: #282828;
	color: #d5c4a1;
  font-family: "Noto Sans Mono";
}

#entry {
	background-color: #282828;
}

#entry:selected {
  outline: none;
  color: #fabd2f;
	background-color: #3c3836;
}

#text:selected {
  color: #d4c4a1;
}

#input {
	background-color: #3c3836;
	color: #bdae93;
	border-color: #504945;
}

#input:focus {
	border-color: #fabd2f;
  box-shadow: none;
}
