{
  "coc.preferences.enableFloatHighlight": false,
  "coc.preferences.formatOnType": true,
  "codeLens.enable": true,
  "diagnostic.virtualText": true,
  "diagnostic.checkCurrentLine": true,
  "signature.target": "echo",
  "languageserver": {
    "gopls": {
      "command": "gopls",
      "args": [],
      "filetypes": ["go"],
      "rootPatterns": ["go.mod", ".git/"]
    }
  }
}
