{
	"test case": {
		"prefix": "tc",
		"body": [
			"exp := []struct{",
			"\ttestName string",
			"\t$1",
			"}",
			"",
			"for _, test := range exp {",
			"\tt.Run(test.testName, func(t *testing.T) {",
			"\t\t$2",
			"\t})",
			"}"
		],
		"description": "Snippet body for table-driven test case"
	},
	"test case for loop": {
		"prefix": "tcf",
		"body": [
			"for _, test := range exp {",
			"\tt.Run(test.testName, func(t *testing.T) {",
			"\t\t$1",
			"\t})",
			"}"
		],
		"description": "Snippet for table-driven test case for loop",
	}
}