{
    "editor.fontFamily": "'Roboto Mono for Powerline'",
    "editor.fontSize": 12,
    "editor.rulers": [80,120],
    "editor.renderWhitespace": "all",
    "editor.tabSize": 2,
    "extensions.autoUpdate": false,
    "breadcrumbs.enabled": true,
    "window.zoomLevel": 0,
    "explorer.confirmDragAndDrop": false,
    "go.lintTool": "golangci-lint",
    "go.delveConfig": {
        "apiVersion": 2,
        "maxStringLen": 256,
        "maxVariableRecurse": 5
    },
    "vim.useSystemClipboard": true,
    "vim.hlsearch": true,
    "vim.leader": ",",
    "vim.enableNeovim": true,
    "vim.neovimPath": "/usr/local/bin/nvim",
    "jsonnet.libPaths": [
        "/usr/local/lib/python3.7/site-packages/kapitan"
    ],
} 
 
