{
    "editor.fontFamily": "Fira Code",
    "editor.fontLigatures": true,
    "editor.fontSize": 13,
    "editor.rulers": [80,120],
    "editor.tabSize": 2,
    "editor.minimap.enabled": false,
    "extensions.autoUpdate": false,
    "breadcrumbs.enabled": true,
    "window.zoomLevel": 0,
    "explorer.confirmDragAndDrop": false,
    "go.autocompleteUnimportedPackages": true,
    "go.lintOnSave": "package",
    "go.lintTool": "golangci-lint",
    "go.delveConfig": {
        "apiVersion": 2,
        "maxStringLen": 512,
        "maxVariableRecurse": 5
    },
    "go.useLanguageServer": true,
    "go.alternateTools": {
        "go-langserver": "bingo"
    },
    "go.vetOnSave": "off", // handled by golangci-lint
    "go.languageServerFlags": [
        "-enhance-signature-help",
        "-trace",
        "-format-style=goimports",
        "-cache-style=on-demand"
    ],
    "go.languageServerExperimentalFeatures": {
        "format": true,
        "autoComplete": true,
    },
    "[go]": {
        "editor.formatOnSave": true,
        "editor.formatOnSaveTimeout": 5000
    },
    "vim.useSystemClipboard": true,
    "vim.hlsearch": true,
    "vim.leader": ",",
    "vim.enableNeovim": true,
    "vim.neovimPath": "/usr/local/bin/nvim",
    "jsonnet.libPaths": [
        "/usr/local/lib/python3.7/site-packages/kapitan"
    ],
    "workbench.iconTheme": "material-icon-theme",
    "workbench.colorTheme": "One Monokai",
    "extensions.ignoreRecommendations": false
} 
 
